:root{
    --background-color:#092a48;
    --text-color:#f5f9f8;
    --header-color:#ef2d7a;
    --border-color:#9bbbcb;
    --box-bg-color:#0c3a5f;
    --header-font:"Limelight", sans-serif;
    --nav-name-font:"Oregano", cursive;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}
/*header started*/
header{
    border-bottom: 2px solid var(--box-bg-color);
    padding: 2rem;
}
header .header h1,
header .header p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1{
    font-family:var(--header-font);
    color: var(--border-color);
    font-size: 2.5rem;
    text-align: center;
}
.header p{
    color: var(--border-color);
    font-size: 1rem;
    text-align: center;
}
/*nav started*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 1rem 2rem;
}
nav h3{
    font-family: var(--nav-name-font);
    font-size: 1.3rem;
}
nav ul{
    display: flex;
    justify-content: space-between;
    gap: 2.3rem;
    list-style-type: none;
    margin-right: 1rem;
}
nav ul li a{
    color: var(--text-color);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 1s ease-out;
}
nav ul li a:hover{
    color: var(--header-color);
    text-decoration: none;
    border-bottom:2px solid var(--header-color) ;
}
nav .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    max-width: 100px;
}
@media(max-width:768px){
    nav{
        display: flex;
        flex-direction: column;
    }
    nav .logo{
        display: flex;
        flex-direction: column;
    }
    
}
/*nav end*/
/*header end*/

/*main started*/
main {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
  padding: 2rem;
}
main section {
  background-color:var(--box-bg-color);
  border-radius: 10px;
  padding: 2rem;
}
@media (max-width:768px){
    main{
        grid-template-columns: repeat(1,1fr);
    }
}
.projects-link ul li,
.projects-link ul li a{
    list-style-type: none;
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
} 
.subheading{
    color: var(--header-color);
    font-size: 1.2rem;
    line-height: 2;
}
.projects-link ul li a:hover{
    color: var(--border-color);
}
#experience .work-2{
    padding:2rem 0;
}
#experience a{
    text-decoration: none;
    color: var(--background-color);
}
#experience a:hover{
    color: var(--header-color);
}
#education ul{
 list-style: inside;
}
#rewiews{
    grid-column: 1 / -1;
    padding: 2rem;
}
.teacher-comment{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    margin-top: 2rem;
}
.teacher {
  background-color: #0e3a5f;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 1.5rem;
  text-align: center;
}
@media (max-width:768px)
{
.teacher-comment{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
/*main end*/
/*footer started*/
footer{
    border-top: 2px solid var(--box-bg-color);
    height: 10dvh;
    text-align: center;
    padding: 2rem;
}